# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
ENV*/
*.env
*.venv

# VS Code settings (optional)
.vscode/

# Output & logs (optional)
*.log
*.sqlite3

# macOS specific files (optional)
.DS_Store
